@font-face{
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    src: local("Gotham");
    src: url("../fonts/gothambold/gothambold1.woff");
}
@font-face{
    font-family: "Gotham - Book";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham - Book");
    src: url("../fonts/GothamBook/GothamBook.woff")
};